@font-face {
    font-family: 'space grotesk';
    src: url(fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body{
    background-color: oklch(12.9% 0.042 264.695);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 5vh;
    scroll-snap-type: y mandatory;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 90vw;
    position: fixed;
    top: 2.5vh;
    height: 5vh;
    background-color: oklch(98.4% 0.003 247.858);
    border-radius: 0.5vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.pagenav{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 4px 8px;
    height: 100%;
    box-sizing: border-box;
}

.nav-link{
    margin: auto;
    width: auto;
    padding: 0 10px;
    height: 100%;
    place-content: center;
    background-color: oklch(20.8% 0.042 265.755);
    color: #FFF;
    text-decoration: none;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    list-style: none;
    box-sizing: border-box;
}

.section-container{
    justify-content: center;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
}

.section{
    width: 95%;
    height: 90%;
    border-radius: 0.5vw;
    background-color: #fff;
    box-sizing: border-box;
    outline: 2px white solid;
}

.hero-section{
    background: url(hero-background_1.webp) fixed;
    background-size: cover;
    background-position: center;
    font-family: 'space grotesk';
    color: #FFF;
    box-sizing: border-box;
    padding: 1% 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    justify-content: space-between;
}

.hero-section-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    max-width: 60%;
}

.hero-section-texts h1{
    font-weight: 700;
    font-size: 48px;
}

.hero-section-texts h2{
    font-size: 32px;
    font-weight: 500;
}

.hero-image{
    width: auto;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 0.5vw;
}

.hero-links{
    display: flex;
    margin-top: 20px;
    gap: 5px;
}

.hero-link{
    padding: 4px;
    width: auto;
    height: auto;
    background-color: oklch(20.8% 0.042 265.755);
    border-radius: 0.5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.hero-link:hover{
    background-color: oklch(55.4% 0.046 257.417);
}

.hero-link svg{
    margin: auto;
    width: 48px;
    height: 48px;
}

.about-section{
    background: url(about-background_1.jpg);
    background-position: center;
    background-size: cover;
}